---
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/Container.astro';
---

<Layout title="Fun!" description="temp description">
<Container>
    <h1 class="text-4xl font-semibold">Fun!</h1>
    <article>
    <p class="">This is the fun page</p>
    </article>
</Container>
</Layout>
