---
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/Container.astro';
import  Link  from '../../components/Link.astro';
---

<Layout title="Fun!" description="temp description">
<Container>
    <h1 class="text-4xl font-semibold">Fun!</h1>
    <article>
    <p class="">This is the fun page! I will put fun things here as and when I 
        remember. In the meantime, here's a fun picture of me.
    </p>
    </article>
    <center>
    <img src="/funny.jpg" width=80%></img>
    </center>
    <article>
    <p><Link href="/thoughts">Thoughts</Link></p>
    </article>
</Container>
</Layout>
