html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}


button {
  border-radius: 5px;
  border-width: 1px;
}

#labelEntry{
  border-radius: 5px;
  border-width: 1px;
}

select{
  border-radius: 5px;
  border-width: 1px;
}
