html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

canvas {
  display: block;
}

p {
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-family: "Courier New";
  display: inline-block;
  margin-right: 10px;
}